h1 {
  text-align: center;
}

.board {
  border: 2px solid black;
  user-select: none;
  margin: auto;
  width: fit-content;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  aspect-ratio: 1;
  border: 1px solid black;
}

.cell.Empty {
  background-color: rgb(200, 200, 200);
}

.cell.I {
  background-color: rgb(226, 103, 103);
}

.cell.J {
  background-color: rgb(148, 235, 68);
}

.cell.L {
  background-color: rgb(220, 233, 39);
}

.cell.O {
  background-color: rgb(124, 66, 218);
}

.cell.S {
  background-color: rgb(83, 235, 227);
}

.cell.T {
  background-color: rgb(231, 57, 57);
}

.cell.Z {
  background-color: rgb(82, 41, 231);
}
